
source/.vs/CadeMeuMouse/v15/.suo
source/.vs/CadeMeuMouse/v15/.suo
source/.vs/CadeMeuMouse/v15/Server/sqlite3/storage.ide
source/.vs/CadeMeuMouse/v15/Server/sqlite3/storage.ide-shm
source/.vs/CadeMeuMouse/v15/Server/sqlite3/storage.ide-wal
source/CadeMeuMouse/bin/Release/CadeMeuMouse.exe
source/CadeMeuMouse/bin/Release/CadeMeuMouse.pdb
source/CadeMeuMouse/bin/Release/CadeMeuMouse.exe.config
source/CadeMeuMouse/bin/Release/Newtonsoft.Json.dll
source/CadeMeuMouse/bin/Release/Newtonsoft.Json.xml
source/CadeMeuMouse/bin/Release/resources/settings/cademeumouse.json
*.CopyComplete
*.cache
source/CadeMeuMouse/obj/Release/CadeMeuMouse.exe
source/CadeMeuMouse/obj/Release/CadeMeuMouse.csproj.FileListAbsolute.txt
source/CadeMeuMouse/obj/Release/CadeMeuMouse.GUI.FrmAbout.pt-BR.resources
source/CadeMeuMouse/obj/Release/CadeMeuMouse.GUI.FrmAbout.resources
source/CadeMeuMouse/obj/Release/CadeMeuMouse.GUI.FrmPointer.resources
source/CadeMeuMouse/obj/Release/CadeMeuMouse.GUI.FrmSettings.pt-BR.resources
source/CadeMeuMouse/obj/Release/CadeMeuMouse.GUI.FrmSettings.resources
source/CadeMeuMouse/obj/Release/CadeMeuMouse.GUI.FrmWelcome.resources
source/CadeMeuMouse/obj/Release/CadeMeuMouse.pdb
source/CadeMeuMouse/obj/Release/CadeMeuMouse.Properties.Resources.resources
source/CadeMeuMouse/obj/Release/pt-BR/CadeMeuMouse.resources.dll
source/CadeMeuMouse/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
source/CadeMeuMouse/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
source/CadeMeuMouse/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
source/CadeMeuMouse/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
source/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
source/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
source/packages/Newtonsoft.Json.11.0.2/LICENSE.md
source/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
